.blur{
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

button{
    font-size: 1.7em !important;
}

.booking{
    background-color: rgb(255, 252, 241);
    width: 100%;
    padding: 5vh 0 20px;
}

.carousel-div{
    height: 80vh;
    width: 80vw;
    margin: 0 auto;
    box-shadow: black 0px 0px 10px;
}

.flower1{
    position: absolute;
    height: 350px;
    top: -50px;
    right: 4vw;
    transform: rotate(80deg);
    z-index: 9;
}

@media (max-width: 1600px){
    .carousel-div{
        width: 100%;
    }
    .flower1{
        top: -50px;
        right: -70px;
    }
}

@media (max-width: 600px){
    .carousel-div{
        height: 70vh;
    }
    .flower1{
        height: 250px;
        top: -25px;
        right: -60px;
    }
}