.blur{
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

button{
    font-size: 1.7em !important;
}

.booking{
    background-color: #ece6c2;
    width: 100%;
    padding: 5vh 0 20px;
    overflow: hidden;
}

.carousel-div{
    height: 80vh;
    width: 80vw;
    margin: 0 auto;
    box-shadow: black 0px 0px 10px;
}

@media (max-width: 1600px){
    .carousel-div{
        width: 100%;
    }
}

@media (max-width: 600px){
    .carousel-div{
        height: 70vh;
    }
}