.blur{
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

button{
    font-size: 1.7em !important;
}

.cover{
    height: 100vh;
    width: 100%;
}
.cover img{
    object-fit: cover;
    width: 100%;
    height: 100vh;
}